---
layout: default
title: GitLab's Guide to the Recruiting Operations Job Family
extra_css:
  - job-family.css
---

%div.recruiting-operations-at-gitlab
  .row
    .col-md-12
      .content-section
        %h2.job-family-title.text-center Recruiting Operations at GitLab
        %div The Recruiting Operations job family supports and optimizes the Recruiting Team, supports the Hiring Teams and coordinates reporting efforts. They search for ways to streamline and automate processes and are data focused.

.content-container.job-family
  .wrapper.container{ role: "main" }
    .row.job-family-overview
      .col-md-4
        .content-section
          %h3.job-family-title Recruiting Operations Coordinator
          %ul.job-family-list
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#recruiting-operations-coordinator" } Get to know the role
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#responsibilities" } Responsibilities
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#requirements" } Requirements
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#performance-indicators" } Performance Indicators
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#hiring-process" } Hiring Process    

      .col-md-4
        .content-section
          %h3.job-family-title Recruiting Program Analyst
          %ul.job-family-list
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#recruiting-program-analyst" } Get to know the role
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#responsibilities-1" } Responsibilities
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#requirements-1" } Requirements
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#performance-indicators-1" } Performance Indicators
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#hiring-process-1" } Hiring Process    
      .col-md-4
        .content-section
          %h3.job-family-title Manager, Recruiting Operations
          %ul.job-family-list
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#manager-recruiting-operations" } Get to know the role
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#responsibilities-2" } Responsibilities
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#requirements-2" } Requirements
            %li
              %a{ href: "/job-families/people-ops/recruiting-operations/#performance-indicators-2" } Performance Indicators
