%ul.footer-links
  %li
    %a{href: "https://docs.gitlab.com/omnibus/"} Troubleshooting and configuration options in the Omnibus documentation
  %li
    = link_to "Alternative installation methods", "/installation/"
  %li
    = link_to "AWS AMI with a preloaded Omnibus package", "/aws"
  %li
    %a{href: "https://mirror.tuna.tsinghua.edu.cn/help/gitlab-ce/"} Chinese GitLab CE mirror hosted by TUNA
  %li
    = link_to "Update a GitLab instance", "/update"
  %li
    %a{href: "https://docs.gitlab.com/ee/install/requirements.html"} Installation requirements
  %li
    %a{href: "https://docs.gitlab.com/runner/install/"} Install GitLab Runner
  %li
    = link_to "Compare GitLab CE with EE", "/products/#compare-options"
