%ul
  -# left in but commented out, as an example... %li{class: ("menu-item-active" if current_page.url == "/stages-devops-lifecycle/")}
    = link_to "Product", "/stages-devops-lifecycle/", class: "main-nav-link"
  .nav-cta-container
    - if current_page.data.header_primary_cta_text
      %a.btn.btn-nav-cta.btn-nav-link-cta{href: current_page.data.header_primary_cta_url}
        = current_page.data.header_primary_cta_text
