---
title: "Streamline and shorten error remediation with Sentry’s new GitLab integration"
author: Eva Sasson
author_twitter: EvaSasson
guest: true
categories: open source
image_title: '/images/blogimages/sentry-io-blog.jpg'
description: "Your code has bugs, my code has bugs, everyone’s code has bugs (probably). Let’s fix that."
tags: CI/CD, collaboration, DevOps, integrations, open source, security, testing, user stories, workflow
postType: product
twitter_text: "Streamline and shorten error remediation with @getsentry's new @gitlab integration"
---

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/KUHk1uuXWhA?rel=0" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

Sentry is open source error tracking that gives visibility across your entire stack and provides the details you need to fix bugs, ASAP. Because the only thing better than visibility and details is more visibility and details, Sentry improved their [GitLab integration](https://docs.sentry.io/workflow/integrations/global-integrations/gitlab/?utm_source=GitLab&utm_medium=blog&utm_campaign=GitLab_GTM) by adding [release](https://docs.sentry.io/workflow/releases/?platform=browser&utm_source=GitLab&utm_medium=blog&utm_campaign=GitLab_GTM) and [commit](https://docs.sentry.io/workflow/releases/?platform=browser&utm_source=GitLab&utm_medium=blog&utm_campaign=GitLab_GTM#link-repository) tracking as well as [suspect commits](https://docs.sentry.io/workflow/releases/?platform=browser&utm_source=GitLab&utm_medium=blog&utm_campaign=GitLab_GTM#after-linking-a-repository).

### Streamline your workflow with issue management and creation

When you receive an alert about an error, the last thing you want to do is to jump around 20 different tools trying to find out exactly what happened and where. Developers with both Sentry and GitLab in their application lifecycle benefit from issue management and issue creation to their GitLab accounts directly in the Sentry UI, alleviating some of the hassle of back-and-forth tool toggling.

![GitLab account in Sentry](/images/blogimages/sentry/gitlab-sentry-integration.png){: .shadow.large.center}

Of course, less tool jumping results in a more streamlined triaging process and shortened time to issue resolution – something that benefits the whole team.

![Creating GitLab issue](/images/blogimages/sentry/create-gitlab-issue.png){: .shadow.medium.center}

Have a GitLab issue that wasn’t created in Sentry? No problem. Existing issues are also easily linked.

![Import GitLab issue](/images/blogimages/sentry/import-gitlab-issue.png){: .shadow.medium.center}

### Find and fix bugs faster with release and commit tracking

Why stop at streamlining the triaging process, when we can also make issue resolution more efficient? Sentry’s GitLab integration now utilizes GitLab commits to find and fix bugs faster.

With the newly added release and commit tracking, an enhanced release overview page uncovers new and resolved issues, files changed, and authors. Developers can also resolve issues via commit messages or merge requests, see suggested assignees for issues, and receive detailed deploy emails.

Want a big flashing arrow that points to an error’s root cause? Sentry’s suspect commits feature exposes the commit that likely introduced an error as well as the developer who wrote the broken code.

![Suspect commits feature](/images/blogimages/sentry/suspect-commits-feature.png){: .shadow.medium.center}

Keep in mind that this feature is available for Sentry users on “Teams” plans and above.
{: .note}

Check out [Sentry’s GitLab integration documentation](https://docs.sentry.io/workflow/integrations/global-integrations/gitlab/?utm_source=GitLab&utm_medium=blog&utm_campaign=GitLab_GTM) to get started.

### What’s next?

Again, why stop there, when we can do even more? GitLab is currently working to bring Sentry into the GitLab interface. Soon, GitLab and Sentry users will see their Sentry errors listed in their GitLab projects. Read the documentation on [the integration here](https://docs.gitlab.com/ee/user/project/operations/error_tracking.html).

### About the guest author

Eva Sasson is a Product Marketer at [Sentry.io](https://sentry.io/welcome/), an open source error-tracking tool that gives developers the contextual information they need to resolve issues quickly, and integrates with the other development tools across the stack.
